<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Book Lib</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Navigation -->
    {% extends 'base.html'%}
    {% block content%}

    <!-- About Section -->
    <div class="pt-24 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/random/1600x900');">
        <div class="container mx-auto px-4">

            <div class="flex flex-col items-center justify-center h-full text-center">
                <h1 class="text-5xl font-bold text-white leading-tight mb-4">About Book Lib</h1>
                <p class="text-lg text-white mb-8">Learn more about us and our mission.</p>
                <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Learn More</a>
            </div>

        </div>
    </div>

    <!-- About Content Section -->
    <div class="bg-white py-8">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Story</h2>
            <p class="text-gray-700">Hi, I'm Rashid Zada, a Software Engineer. I'm passionate about creating Book Lib, an online platform designed to make accessing all types of books easier for students and teachers. Our goal is to facilitate sharing among educators, making educational resources more accessible to students worldwide.</p>
            <p class="text-gray-700">Our mission, Mission 2030, is to empower everyone through education. We believe that knowledge should be accessible to all, and we strive to make that a reality by providing a diverse range of books and resources for learning.</p>
            <p class="text-gray-700">Additionally, we leverage the power of Artificial Intelligence (AI) in education. AI is the future, capable of multiplying your educational potential tenfold. By integrating AI technologies into our platform, we aim to personalize learning experiences, optimize content delivery, and foster innovative teaching methods.</p>
        </div>
    </div>
    

    <!-- Footer -->
    {% endblock%}
    <!-- Scripts -->
    <script>
        // Mobile navigation toggle
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>

</body>

</html>
