<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books - Book Lib</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Navigation -->
   {% extends 'base.html'%}
   {% block content%}
    <!-- Book Section -->
    <div class="pt-24 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/random/1600x900');">
        <div class="container mx-auto px-4">

            <div class="flex flex-col items-center justify-center h-full text-center">
                <h1 class="text-5xl font-bold text-white leading-tight mb-4">Browse Our Book Collection</h1>
                <p class="text-lg text-white mb-8">Explore a vast collection of books in our library.</p>
            </div>

        </div>
    </div>

    <!-- Featured Books Section -->
    <div class="bg-white py-8">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Featured Books</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                <!-- Sample Book Card -->
              {% for book in books%}
              {% if book%}
              <div class="bg-gray-200 rounded-lg shadow-md overflow-hidden">
                <img src="{{book.cover_image.url}}" alt="Book Cover"
                    class="w-full h-64 object-cover">
                <div class="p-4">
                    <h3 class="text-xl font-bold mb-2">{{book.tile}}</h3>
                    <p class="text-gray-700">{{book.description}}.</p>
                    <a href="{% url 'book_details' book.id %}" class="mt-2 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View Details</a>
                </div>
            </div>
              {%else%}
              <p>No book!</p>
              {%endif%}
              {%endfor%}
                <!-- Add more book cards here -->
            </div>
        </div>
    </div>

    <!-- Footer -->
   

    <!-- Scripts -->
    <script>
        // Mobile navigation toggle
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>
{% endblock%}
</body>

</html>
